{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>

            {{ form.store.label }}<br>
            {{ form.store(cols=32, rows=1) }}<br>

            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <p>
    {{ post.author.username }} says: <b>{{ post.body }} </b> at: <b>{{post.store}} </b>
    Time: {{post.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}

    </p>
    {% endfor %}
{% endblock %}
