{% extends "base.html" %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>

            {{ form.store.label }}<br>
            {{ form.store(cols=32, rows=1) }}<br>

            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
      <p>
      {{ post.author.username }} says: <b>{{ post.body }} </b> at: <b>{{post.store}} </b>
      Time: {{post.timestamp.strftime("%m/%d/%Y, %H:%M:%S")}}

      {% if current_user.has_liked_post(post) %}
        <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
      {% else %}
        <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
      {% endif %}
      {{ post.likes.count() }} likes

      </p>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
