<table class="table table-hover">
    <tr>
        <td width="70px">
            <a href="{{ url_for('user', username=post.author.username) }}">
              {% if post.author.pic_url %}
                <td><img src="{{ post.author.pic_url }}" width=70 height=70 /></td>
              {% else %}
                <td><img src="{{ post.author.avatar(70) }}"></td>
              {% endif %}
            </a>
        </td>
        <td>
            <p><a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            says: <b>{{ post.body }}</b> at: <b>{{post.store}}</b> </p>
            <br>
            <p>Time: {{post.timestamp.strftime("%m/%d/%Y, %H:%M")}}</p>
            <br>
            {% if current_user.has_liked_post(post) %}
              <a href="{{ url_for('like_action', post_id=post.id, action='unlike') }}">Unlike</a>
            {% else %}
              <a href="{{ url_for('like_action', post_id=post.id, action='like') }}">Like</a>
            {% endif %}
            {{ post.likes.count() }} likes

        </td>
    </tr>
</table>
